:root {
    --border: #cbf7f7 solid 2px;
    --background-color: #c1c0fc;
}

* {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

header {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.top h1 {
    font-size: 30px;
    padding-left: 10px;
}

/*navigation bar position and spacing*/
nav {
    display: flex;
    justify-content: end;
    font-size: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 10px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.hero {
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.subtitle {
    display: flex;
    position: relative;
    top: -30px;
    left: 85%;
    padding: 2px;
    color: #2a17a9;
    border: var(--border);
}

/*Main body*/
.section-header {
    display: flex;
    padding: 10px;
    min-width: 200px;
    justify-content: end;
    text-transform: uppercase;
}

.about-me {
    display: flex;
}

.about-me-content {
    display: inline-flex;
    align-items: center;
    margin: 10px;
}

.about-me-content p {
    padding: 0px 20px;
}

.about-me-content img {
    height: 150px;
    width: auto;
}

.projects {
    display: flex;
}

.project-cards {
    display: inline-flex;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    height: 300px;
    width: 40%;
    min-width: 300px;
    margin: 10px 10px;
    border: var(--border);
    align-items: center;
    justify-content: center;
}

#project-1 {
    background-image: url(../images/screen-shot-main-content.png);
    background-size: cover;
}

#project-2 {
    background-image: url(../images/startup.png);
    background-size: cover;
}

#project-3 {
    background-image: url(../images/coming-soon.jpeg);
    background-size: cover;
}


a {
    text-decoration: none;
    cursor: grab;
}

.project-header {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-transform: capitalize;
    background-color: #c1c0fc;
    border: var(--border);
}





/*contact list*/
footer {
    display: inline-flex;
    width: 100%;
    align-items: end;
    position: relative;
    bottom: 5px;
}

.contact-list {
    display: flex;
    font-size: 10px;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.contact-list-item {
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    list-style: none;
}

footer img {
    display: inline-flex;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

iframe {
    margin-left: 5%;
    width: 90%;
    height: 800px;
}